# 101 NumPy Exercises for Data Analysis (Python)

1. Import numpy as np and see the version

In [1]:
import numpy as np

In [2]:
print(np.__version__)

2.1.2

2. How to creat Create a 1D array of numbers from 0 to 9

Desired output:

 array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])e a 1D array?

In [6]:
arr = np.arange(0,10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

3. Create a 3Ã—3 numpy array of all Trueâ€™s

In [9]:
np.full((3,3),True,dtype=bool)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [10]:
np.ones((3,3),dtype=bool)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

4 . Extract all odd numbers from arr

Input:

arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

Desired output:

 array([1, 3, 5, 7, 9])

In [20]:
arr = np.arange(0, 10).tolist()
arr = [i for i in arr if i % 2 != 0]
print(arr)

[1, 3, 5, 7, 9]

In [22]:
arr = np.arange(0,10).tolist()
arr =[i for i in arr if i%2==1]
print(np.array(arr))

[1 3 5 7 9]

5. How to replace items that satisfy a condition with another value in numpy array?

Difficulty Level: L1

Q. Replace all odd numbers in arr with -1

Input:

arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

Desired Output:

#>  array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [28]:
arr = np.arange(0,10).tolist()
for i in range(len(arr)):
    if arr[i]%2==1:
        arr[i]=-1
arr = np.array(arr)        
print(arr)

[ 0 -1  2 -1  4 -1  6 -1  8 -1]

In [32]:
arr = np.arange(0,10)
arr[arr % 2 == 1] = -1
print(arr)

[ 0 -1  2 -1  4 -1  6 -1  8 -1]

6. How to replace items that satisfy a condition without affecting the original array?

Difficulty Level: L2

Q. Replace all odd numbers in arr with -1 without changing arr

Input:

arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

Desired Output:

out
#>  array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])
arr
#>  array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [36]:
arr = np.arange(0,10)
arr = np.where(arr%2==1,-1,arr)
print(arr)

[ 0 -1  2 -1  4 -1  6 -1  8 -1]

7. How to reshape an array?

Difficulty Level: L1

Q. Convert a 1D array to a 2D array with 2 rows

Input:

np.arange(10)

#> array([ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

Desired Output:

#> array([[0, 1, 2, 3, 4],
#>        [5, 6, 7, 8, 9]])

In [45]:
arr = np.arange(10)
#print(arr)
arr1 = np.reshape(arr,(2,5))
arr1

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

8. How to stack two arrays vertically?

Difficulty Level: L2

Q. Stack arrays a and b vertically

Input

a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)

Desired Output:

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [54]:
a = np.arange(0,10).reshape(2,5)
b = np.repeat(1,10).reshape(2,5)
print(a)
print("-----------------")
print(b)
print("-----------------")
arr = np.concatenate([a,b],axis=0)
print(arr)

[[0 1 2 3 4]
 [5 6 7 8 9]]
-----------------
[[1 1 1 1 1]
 [1 1 1 1 1]]
-----------------
[[0 1 2 3 4]
 [5 6 7 8 9]
 [1 1 1 1 1]
 [1 1 1 1 1]]

In [55]:
np.vstack([a,b])

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [57]:
np.r_[a,b]

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

9. How to stack two arrays horizontally?

Difficulty Level: L2

Q. Stack the arrays a and b horizontally.

Input

a = np.arange(10).reshape(2,-1)

b = np.repeat(1, 10).reshape(2,-1)

Desired Output:

#> array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
        [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

In [59]:
a = np.arange(0,10).reshape(2,5)
b = np.repeat(1,10).reshape(2,5)
print(a)
print("______________________")
print(b)

[[0 1 2 3 4]
 [5 6 7 8 9]]
______________________
[[1 1 1 1 1]
 [1 1 1 1 1]]

In [61]:
#method 1
np.concatenate([a,b],axis=1)

array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

In [62]:
# method 2
np.hstack([a,b])

array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

In [63]:
# method 3
np.c_[a,b]

array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

10. How to generate custom sequences in numpy without hardcoding?

Difficulty Level: L2

Q. Create the following pattern without hardcoding. Use only numpy functions and the below input array a.

Input:

a = np.array([1,2,3])`

Desired Output:

#> array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])

In [64]:
a = np.array([1,2,3])

In [66]:
np.r_[np.repeat(a, 3), np.tile(a, 3)]

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])

11. How to get the common items between two python numpy arrays?

Difficulty Level: L2

Q. Get the common items between a and b

Input:

a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

Desired Output:

array([2, 4])

In [69]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
print(np.intersect1d(a,b))

[2 4]

12. How to remove from one array those items that exist in another?

Difficulty Level: L2

Q. From array a remove all items present in array b

Input:

a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

Desired Output:

array([1,2,3,4])

In [71]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
np.setdiff1d(a,b)

array([1, 2, 3, 4])

13. How to get the positions where elements of two arrays match?

Difficulty Level: L2

Q. Get the positions where elements of a and b match

Input:

a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

Desired Output:

#> (array([1, 3, 5, 7]),)

In [75]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.where(a == b)

(array([1, 3, 5, 7]),)

14. How to extract all numbers between a given range from a numpy array?

Difficulty Level: L2

Q. Get all items between 5 and 10 from a.

Input:

a = np.array([2, 6, 1, 9, 10, 3, 27])

Desired Output:

(array([6, 9, 10]),)

In [80]:
# method 1
a = np.array([2, 6, 1, 9, 10, 3, 27])
a = a[np.logical_and(a >= 5,a <= 10)]
a

array([ 6,  9, 10])

In [81]:
# method2
index = np.where((a >= 5) & (a <= 10))
a[index]

array([ 6,  9, 10])

In [82]:
# method3
a[(a >= 5) & (a <= 10)]

array([ 6,  9, 10])

15. How to make a python function that handles scalars to work on numpy arrays?

Difficulty Level: L2

Q. Convert the function maxx that works on two scalars, to work on two arrays.

Input:

def maxx(x, y):
    """Get the maximum of two items"""
    if x >= y:
        return x
    else:
        return y

maxx(1, 5)
#> 5

Desired Output:

a = np.array([5, 7, 9, 8, 6, 4, 5])
b = np.array([6, 3, 4, 8, 9, 7, 1])
pair_max(a, b)
#> array([ 6.,  7.,  9.,  8.,  9.,  7.,  5.])

In [83]:
def maxx(x, y):
    """Get the maximum of two items"""
    if x >= y:
        return x
    else:
        return y

pair_max = np.vectorize(maxx, otypes=[float])

a = np.array([5, 7, 9, 8, 6, 4, 5])
b = np.array([6, 3, 4, 8, 9, 7, 1])

pair_max(a, b)

array([6., 7., 9., 8., 9., 7., 5.])

16. How to swap two columns in a 2d numpy array?

Difficulty Level: L2

Q. Swap columns 1 and 2 in the array arr.

arr = np.arange(9).reshape(3,3)
arr

In [88]:
arr = np.arange(9).reshape(3,3)
arr
arr[:,[1,0,2]]

array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])

17. How to swap two rows in a 2d numpy array?

Difficulty Level: L2

Q. Swap rows 1 and 2 in the array arr:

arr = np.arange(9).reshape(3,3)
arr

In [91]:
arr = np.arange(9).reshape(3,3)
print(arr)
arr[[0,2,1],:]

[[0 1 2]
 [3 4 5]
 [6 7 8]]

array([[0, 1, 2],
       [6, 7, 8],
       [3, 4, 5]])

18. How to reverse the rows of a 2D array?

Difficulty Level: L2

Q. Reverse the rows of a 2D array arr.

 Input
arr = np.arange(9).reshape(3,3)

In [96]:
arr = np.arange(0,9).reshape(3,3)
print(arr)
arr[::-1]

[[0 1 2]
 [3 4 5]
 [6 7 8]]

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

19. How to reverse the columns of a 2D array?

Difficulty Level: L2

Q. Reverse the columns of a 2D array arr.

Input
arr = np.arange(9).reshape(3,3)

In [98]:
arr = np.arange(9).reshape(3,3)
print(arr)
arr[:,::-1]

[[0 1 2]
 [3 4 5]
 [6 7 8]]

array([[2, 1, 0],
       [5, 4, 3],
       [8, 7, 6]])

20. How to create a 2D array containing random floats between 5 and 10?

Difficulty Level: L2

Q. Create a 2D array of shape 5x3 to contain random decimal numbers between 5 and 10.
Show Solution

Input
arr = np.arange(9).reshape(3,3)

In [105]:
arr = np.arange(9).reshape(3,3)
rand_arr = np.random.random(low=5,high=10,size=(5,3))
rand_arr

TypeError: random() got an unexpected keyword argument 'low'

In [111]:
rand_arr = np.random.uniform(low =5,high =10,size=(5,3))
rand_arr

array([[8.82727228, 6.72691612, 8.49347717],
       [5.73584704, 7.10959613, 6.83626114],
       [9.03250394, 9.60217421, 8.77678574],
       [7.03744423, 5.28662842, 5.63836214],
       [8.25632321, 5.10049241, 6.11012446]])